@using FinalProject.Models;
@{
   
    Layout = null;
}
@{
    var model = new Psychologist();
    var PsyName = "welcome";
    if (Session["Psy"] != null)
    {
        model = (Psychologist)Session["Psy"];
        PsyName = model.Name.ToString();
    }


}
<!DOCTYPE html>
<html>
<head>
    <title>@PsyName- Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/w3.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/easy-toggle-state.es6.js"></script>
   
</head>


<body>
    <div style="margin-top:-30px">
        <!-- Sidebar -->
        <div class="w3-sidebar w3-bar-block" style="width:20%;background-color:#24344b;margin-top:-5px;">

            @{ 
                var src = "~/Content/image/ImagePsy/img_default.png";
                if (model.ImageAddress!=null)
                {
                   src= model.ImageAddress;

                }
                <h3 class="w3-bar-item" style="background-color:#2b3c58 ; color:white"><img src= @Url.Content(src) alt="Car" class="w3-round-xxlarge" style="width:100%;height:220px" > @PsyName</h3>


            }
            @*<h3 class="w3-bar-item" style="background-color:#2b3c58 ; color:white"><img src="~/Content/image/2.jpg" alt="Car" class="w3-round-xxlarge" style="width:100%;"> @data</h3>*@
            <h3></h3>
            @Html.ActionLink("Appointment", "Appointment", "Psychologists", new { @class = "w3-bar-item w3-button w3-hover-blue-gray w3-border-bottom", @style = "font-size:20px;color:white;" })
            @Html.ActionLink("History", "History", "Psychologists", new { @class = "w3-bar-item w3-button w3-hover-blue-gray w3-hover-blue-gray  w3-border-bottom", @style = "font-size:20px;color:white;" })
            @Html.ActionLink("Request", "Requests", "Psychologists", new { @class = "w3-bar-item w3-button w3-hover-blue-gray w3-hover-blue-gray w3-border-bottom", @style = "font-size:20px;color:white;" })
            @*<a href="@Html.ActionLink("","","")" class="w3-bar-item w3-button w3-hover-blue-gray w3-hover-blue-gray">Setting</a>*@

        </div>
        <!-- Page Content -->
        <div style="margin-left:20%;">

            <div class="w3-bar" style="margin-top:30px;background-color:#24344b;">
                <a class=" ">@Html.ActionLink("Logout","Logout","Psychologists",new {@class= "w3-right w3-bar-item w3-button w3-mobile",style="font-size:20px" })</a>
                <a href="#" class="w3-bar-item w3-button w3-mobile w3-right" style="font-size:20px">Notification</a>
                <a href="#" class="w3-bar-item w3-button w3-mobile w3-right" style="font-size:20px">Messages</a>
            </div>



            <div class="w3-container">
               
                @RenderBody()
               
            </div>

        </div>
    </div>
</body>
</html>

