@model IEnumerable<FinalProject.Models.Appointment>

@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_LayoutForPsychologist.cshtml";
}
@{
    foreach(var item in Model){
        var gender = "";
        var married = "";
        if (item.user.IsMarried == true)
        {
            married = "Yes";
        }
        else
        {
            married = "No";

        }
        if (item.user.Sex == false)
        {
            gender = "Female";
        }
        else
        {
            gender = "Male";
        }
        <div class="w3-brown w3-col l3 w3-margin w3-card-4 ">
            <div class="w3-padding">
                <h3>Client Info:</h3>
                <h6>Name: @item.user.Name</h6>
                <h6>Gender: @gender</h6>
                <h6>Married: @married</h6>
                <h3>Appointment Info:</h3>
                
                <h6>Date: @item.session.SessionDate.ToString("D")</h6>
                <h6>Starting Time: @item.session.StartingTime</h6>
            </div>
            <div class="w3-bar w3-margin-left w3-large w3-margin-bottom ">
                @Html.ActionLink("Start", "PerformAppointment", "Psychologists", new { id = item.ID }, new { @class = "w3-button w3-block w3-col l4 w3-bar-item w3-green " })

                @Html.ActionLink("Details", "AppointmentDetail", "Psychologists", new { id = item.ID }, new { @class = "w3-button w3-col l4 w3-bar-item w3-red " })
               </div>
            </div>
    }

}
