@model FinalProject.Models.ViewModels.PsyViewModel

@{
    ViewBag.Title = "Create Your Acount";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/w3.css" rel="stylesheet" />
    <script>

    </script>
</head>
<body style="background-color:#e9ebee;">

    @using (Html.BeginForm("Create","Psychologists",FormMethod.Post,new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

      

        <div class="w3-col l4 m6 s4  w3-card-4 w3-margin-top w3-margin-bottom w3-white" style="margin-left:35%;">
            <div class="w3-container w3-teal  ">
                <h4 class="w3-xxlarge">Signup:</h4>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "w3-red" })
            <div class="w3-container">
                <p>
                    @Html.LabelFor(model=> model.psychologist.Username, new { @class = "w3-text-teal w3-large" })

                    @Html.EditorFor(model => model.psychologist.Username, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.psychologist.Username, "", new { @class = "w3-red" })
                </p>

                <p>
                    @Html.LabelFor(model => model.psychologist.Email, new { @class = "w3-text-teal w3-large" })

                    @Html.EditorFor(model => model.psychologist.Email, new { htmlAttributes = new { @class = "w3-input", @type = "email" } })
                    @Html.ValidationMessageFor(model => model.psychologist.Email, "", new { @class = "w3-red" })

                </p>
                <p>
                    @Html.LabelFor(model => model.psychologist.Password, new { @class = "w3-text-teal w3-large" })

                    @Html.EditorFor(model => model.psychologist.Password, new { htmlAttributes = new { @class = "w3-input", @type = "Password" } })
                    @Html.ValidationMessageFor(model => model.psychologist.Password, "", new { @class = "w3-red" })

                </p>


                <p>
                    @Html.LabelFor(model => model.psychologist.Name, new { @class = "w3-text-teal w3-large" })

                    @Html.EditorFor(model => model.psychologist.Name, new { htmlAttributes = new { @class = "w3-input", @type = "text" } })
                    @Html.ValidationMessageFor(model => model.psychologist.Name, "", new { @class = "w3-red" })

                </p>

                <p>
                    @Html.LabelFor(model => model.psychologist.PsyTypeID, "Type Of Psychologist:", new { @class = "w3-text-teal w3-large" })

                    @Html.DropDownList("Psychologist.PsyTypeID", (SelectList)ViewBag.PsyTypeID, htmlAttributes: new { @class = "w3-input" })
                    @Html.ValidationMessageFor(model => model.psychologist.PsyTypeID, "", new { @class = "w3-red" })

                </p>

                <p>
                    @Html.LabelFor(model => model.psychologist.Education, new { @class = "w3-text-teal w3-large" })
                    @Html.EditorFor(model => model.psychologist.Education, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.psychologist.Education, "", new { @class = "w3-red" })
                </p>
                <p>
                    @Html.LabelFor(model => model.psychologist.Experience, new { @class = "w3-text-teal w3-large" })
                    @Html.EditorFor(model => model.psychologist.Experience, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.psychologist.Experience, "", new { @class = "w3-red" })
                </p>
                <p>
                    @Html.LabelFor(model => model.psychologist.RegistrationNo, new { @class = "w3-text-teal w3-large" })
                    @Html.EditorFor(model => model.psychologist.RegistrationNo, new { htmlAttributes = new { @class = "w3-input", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.psychologist.RegistrationNo, "", new { @class = "w3-red" })
                </p>
                <p>
           
                    @Html.LabelFor(model => model.psychologist.CNIC, new { @class = "w3-text-teal w3-large" })
                    @*<input name="psychologist.CNIC" id="psycnic" />*@
                    @Html.EditorFor(model => model.psychologist.CNIC, new { htmlAttributes = new { @class = "w3-input", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.psychologist.CNIC, "", new { @class = "w3-red" })
                </p>
                <p>
                    @Html.LabelFor(model => model.psychologist.MobileNo, new { @class = "w3-text-teal w3-large" })
                    @Html.EditorFor(model => model.psychologist.MobileNo, new { htmlAttributes = new { @class = "w3-input", @type = "tel" } })
                    @Html.ValidationMessageFor(model => model.psychologist.MobileNo, "", new { @class = "w3-red" })

                <p>
                    @Html.LabelFor(model => model.psychologist.Sex, htmlAttributes: new { @class = "w3-text-teal w3-large" })
                    @Html.EditorFor(model => model.psychologist.Sex, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.psychologist.Sex, "", new { @class = "w3-red" })
                </p>
                <p>
                    <label for="image" class="w3-text-teal w3-large">Upload Profile Picture:</label>
                    <input type="file" name="image" id="image" class="form-control w3-input" />
                    @*@Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control", @type = "file" } })*@
                    @*<input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" placeholder="04/03/1995">*@
                </p>
                <p>
                    @Html.LabelFor(model => model.psychologist.JoinDate, htmlAttributes: new { @class = "w3-text-teal w3-large" })

                    @Html.EditorFor(model => model.psychologist.JoinDate, new { htmlAttributes = new { @class = "w3-input" } })
                    @Html.ValidationMessageFor(model => model.psychologist.JoinDate, "", new { @class = "w3-red" })

                </p>
                <p>

                </p>
            </div>
                <input type="submit" value="Create Account" class="w3-btn w3-teal w3-xlarge w3-col l8 w3-margin-bottom" style="margin-left:16.66%;" />

            </div>
        
    }

</body>
</html>