@model FinalProject.Models.Psychologist

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutForPsychologist.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="w3-card w3-white w3-margin" style="padding:40px;">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)



        <p >
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "w3-hide w3-xlarge w3-text-blue" })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "w3-hide w3-input w3-xlarge w3-border" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "w3-red" })
            
        </p>

        <p>
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "w3-xlarge w3-text-blue" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "w3-xlarge w3-border w3-input" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "w3-red" })
        </p>
        <p>
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = " w3-xlarge w3-text-blue" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "w3-xlarge w3-input w3-border",@type="email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "w3-red" })
        </p>

        <p>
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "w3-xlarge w3-text-blue" })

            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "w3-input w3-border " } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </p>

        <p>
            <label for="PsyTypeID" class="w3-xlarge w3-text-blue"> Select Type</label>
                @Html.DropDownList("PsyTypeID", null, htmlAttributes: new { @class = "w3-xlarge w3-border w3-input" })
                @Html.ValidationMessageFor(model => model.PsyTypeID, "", new { @class = "w3-red" })
            </p>
        
        <p>
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "w3-xlarge w3-text-blue" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "w3-xlarge w3-border w3-input" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "w3-red" })
        </p>
        <p>
            @Html.LabelFor(model => model.Education, htmlAttributes: new { @class = "w3-xlarge w3-text-blue" })
            @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "w3-xlarge w3-border w3-input" } })
            @Html.ValidationMessageFor(model => model.Education, "", new { @class = "w3-red" })
            </p>
        <p>
            @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "w3-xlarge w3-text-blue" })
                @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "w3-xlarge w3-border w3-input" } })
                @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "w3-red" })
        </p>

        <p>
            @Html.LabelFor(model => model.RegistrationNo, htmlAttributes: new { @class = "w3-xlarge w3-text-blue" })
                @Html.EditorFor(model => model.RegistrationNo, new { htmlAttributes = new { @class = "w3-xlarge w3-border w3-input" } })
                @Html.ValidationMessageFor(model => model.RegistrationNo, "", new { @class = "w3-red" })
        </p>

        <p>
            @Html.LabelFor(model => model.CNIC, htmlAttributes: new { @class = "w3-hide w3-xlarge w3-text-blue" })
                @Html.EditorFor(model => model.CNIC, new { htmlAttributes = new { @class = "w3-hide w3-xlarge w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.CNIC, "", new { @class = "w3-red" })
            </p>
        <p>
            @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "w3-xlarge w3-text-blue" })
                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "w3-xlarge w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "w3-red" })
            </p>
        <p>
            @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "w3-hide w3-xlarge w3-text-blue" })
                @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = " w3-hide w3-xlarge w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "w3-red" })
        </p>

        <p>
                           @Html.EditorFor(model => model.JoinDate, new { htmlAttributes = new { @class = "w3-xlarge w3-hide w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.JoinDate, "", new { @class = "w3-red" })
        </p>

       <div style="margin-left:33.3%;padding:40px;">
           <input type="submit" value="Save" class="w3-button w3-margin-bottom w3-blue w3-xlarge w3-col l4 w3-hover-blue-gray " />
       </div>
            
          
           
        
    </div>
}
