@model FinalProject.Models.PsySetting

@{
    ViewBag.Title = "PsychologistSettings";
    Layout = "~/Views/Shared/_LayoutForPsychologist.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="w3-card w3-col w3-white l8" style="margin-left:16.7%; margin-top:4%;">
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      

        <div class="w3-padding">
            <label class="w3-xlarge">Duration of a Session (minutes):</label>
            <p class="">
                @Html.EditorFor(model => model.DurationOfAppointment, new { htmlAttributes = new { @class = "w3-input w3-xlarge" } })
                @Html.ValidationMessageFor(model => model.DurationOfAppointment, "", new { @class = "w3-red" })
            </p>

       
           <lable class="w3-xlarge">Day Start at:</lable>
            <p>
                @Html.EditorFor(model => model.StartOfDay, new { htmlAttributes = new { @class = "w3-input w3-xlarge", @type = "time" } })
                @Html.ValidationMessageFor(model => model.StartOfDay, "", new { @class = "w3-red" })
            </p>
        

        
           <label class="w3-xlarge">How Many Days To Show:</label>
            <p>
                @Html.EditorFor(model => model.NumberOfDaysToShow, new { htmlAttributes = new { @class = "w3-input w3-xlarge" } })
                @Html.ValidationMessageFor(model => model.NumberOfDaysToShow, "", new { @class = "w3-red" })
            </p>
        

        
                <input type="submit" value="Save" style="margin-left:33.3%;margin-bottom:3%;" class=" w3-xlarge w3-btn w3-brown w3-col l4  " />
        </div>    
    </div>
}


