@model IEnumerable<FinalProject.Models.Request>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Requests</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
   
    
    @foreach (var item in Model)
    {

        <div class="w3-card-4">

            <header class="w3-container w3-blue">
                <h1>@Html.DisplayFor(modelItem => item.user.Name)</h1>
            </header>

            <div class="w3-container">
                <p>@Html.DisplayFor(modelItem => item.result.HistoryOfIllness)</p>
                <p>@Html.DisplayFor(modelItem => item.PsychologitsID)</p>
                <p>@Html.DisplayFor(modelItem => item.session.ID)</p>
            </div>
          <footer class="w3-container w3-blue">
                <h5>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                </h5>
            </footer>

        </div>
 
              
                
          
    }
    
   
</body>
</html>
