@model IEnumerable<FinalProject.Models.Request>

@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_LayoutForPsychologist.cshtml";
}




@foreach (var item in Model)
{

    <div class="w3-container w3-text-white w3-blue w3-card-4 w3-col l4 m6 s6 w3-margin"- style="" >
       <div style="margin-left:10%">
        <h3>Client Name:</h3><h4 class="w3-margin-left"> @item.user.Name</h4>
        <h3>Appointment Date:</h3><h4 class="w3-margin-left"> @item.session.SessionDate.ToString("D")</h4>
        <h3>Starting Time:</h3><h4 class="w3-margin-left"> @item.session.StartingTime</h4>
        <h3>Ending Time:</h3><h4 class="w3-margin-left"> @item.session.EndingTime</h4>
        </div>
           <div class="w3-bar w3-large w3-margin-bottom ">
        @Html.ActionLink("Accept", "AcceptRequest", "Psychologists",new {id=item.ID}, new { @class= "w3-button w3-col l4 w3-bar-item w3-green " })
        
        @Html.ActionLink("Reject", "RejectRequest", "Psychologists", new {id=item.ID }, new { @class = "w3-button w3-col l4 w3-bar-item w3-red " })
        @Html.ActionLink("Details", "AcceptRequest", "Psychologists", new { }, new { @class = "w3-button w3-col l4 w3-bar-item w3-brown " })
      </div>
     </div>
  
}

