
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyChat</title>

    <link href="~/Content/w3.css" rel="stylesheet" />

    <link href="~/Content/chat.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/jquery-3.3.1.intellisense.js"></script>



    <script>
        @{
            FinalProject.Models.User user = (FinalProject.Models.User)Session["User"];
        }
        var num = 1;
        $(document).ready(function () {
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    SendData();
                }
            });

            var a = "<a  class='user' href='#'> ";
            var d = new Date();
            var dateAtLoading = d.getHours().toString() + ':' + d.getMinutes().toString();
            $.ajax({
                type: "POST",
                url: "@Url.Content("~")Home/BDIChat?a=0",
                success: function (data) {
                    $('.chat ul').append(' <li class="you">' + a + ' <img  class="" alt="" src="@Url.Content("~/Content/image/DOC.jpg")" /> </a ><div class="date">' + dateAtLoading + ' </div><div class="message w3-card-12 w3-white "><p >' + data.message + '</p></div></li >');
                  

                    
                }
            }
            );



            $('#last').focus();
            $('#reply').focus();


            $("#bt").click(function () {
                SendData();
            });
        });
        function SendData() {
            var a = "<a  class='user' href='#'> ";
            var bt = $('#reply');
            var d = new Date();
            var dateAtLoading = d.getHours().toString() + ':' + d.getMinutes().toString();

            $('.chat ul').append(' <li class="other">' + a + ' <img class="" alt="" src="@Url.Content(user.ImageUrl)" /> </a ><div class="date">' + dateAtLoading + '</div><div class="message w3-card-12 "><p>' + bt.val() + '</p></div></li >');



            $.ajax({
                type: "POST",
                url: "@Url.Content("~")Home/BDIChat?answer=" + bt.val() + "&a=" + num,
                success: function (data) {
                    $('.chat ul').children().remove();
                    $('.chat ul').append(' <li class="you" style="margin-top:-25px;">' + a + ' <img class="" alt="" src="@Url.Content("~/Content/image/DOC.jpg")" /> </a ><div class="date">' + dateAtLoading + '</div><div class="message w3-card-12 w3-white "><p>' + data.message + '</p></div></li >');
                    $('.chat ul').append(' <li class="w3-card-4 w3-padding w3-container w3-xlarge w3-blue">' +'1.  '+ data.option1 + '</li>');
                    $('.chat ul').append(' <li class="w3-card-4 w3-padding w3-container w3-xlarge w3-brown ">' + '2.  ' + data.option2 + '</li>');
                    $('.chat ul').append(' <li class="w3-card-4 w3-padding w3-xlarge w3-container w3-purple">' + '3.  ' + data.option3 + '</li>');
                    $('.chat ul').append(' <li class="w3-card-4 w3-padding w3-xlarge w3-teal w3-container">' + '4.  ' + data.option4 + '</li>');

                    num = data.key;
                    $('#last').focus();
                    $('#reply').innerHTML = "";
                    $('#reply').focus();

                },
                error: function () {
                    window.location("http://localhost:52673/Home/PsyList")
                }
            });
        }



    </script>

    <style type="text/css">
    </style>
</head>
<body class="w3-light-grey">
    @*<canvas id="myChartPie" width="40" height="40"></canvas>*@

    <script>

    var ctx = document.getElementById("myChartPie");
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
        labels: ["complete","uncomplete"],
            datasets: [{
            label: '# of Items Sold',
                data: [6,24],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.3)',
                    'rgba(54, 162, 235, 0.3)',
                    'rgba(255, 206, 86, 0.3)',
                    'rgba(75, 192, 192, 0.3)',
                    'rgba(153, 102, 255, 0.3)',
                    'rgba(255, 159, 64, 0.3)',
                    'rgba(255, 99, 132, 0.3)',
                    'rgba(54, 162, 235, 0.3)',
                    'rgba(255, 206, 86, 0.3)',
                    'rgba(75, 192, 192, 0.3)',
                    'rgba(153, 102, 255, 0.3)',
                    'rgba(255, 159, 64, 0.3)'

                ],
                borderColor: [

                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 4
            }]
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>

    <div id="chat">
        <div class="chat">
            <ul></ul>

        </div>

        <div>
            <input name="reply" placeholder="Type here" type="text" id="reply" />
            @*<input class="" style="margin-bottom:80px; outline:none; background-color:#f3f3f3;" id="last" />*@
            @*<p id="last" style="margin-bottom:70px;color:#fdfdfd;" tabindex="1">ok</p>*@
            <a class="" id="bt"><i style="font-size:50px;" class="w3-text-teal w3-hover-text-black glyphicon glyphicon-send"></i></a>
        </div>
    </div>
</body>
</html>
