@model IEnumerable<FinalProject.Models.Psychologist>

@{
    ViewBag.Title = "PsyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    foreach (var item in Model)
    {
        <div class="card cardsizing  border-primary" style="">
            <img class="img-fluid" style="height:200px;" src=@Url.Content(item.ImageAddress) />
           
            <p class="text-primary ml-3" style="font-size:30px;">@item.Name</p>
            <ul>
                <li><p style="font-size:18px;">@item.psyType.Name</p>
                </li>
                <li><p class="text-capitalize" style="font-size:18px;">@item.Sex</p></li>

            </ul>
           
            

            <div class="card-body border-primary border-top">

                <p class="card-text">@item.Description</p>
            </div>

            
                <div class="btn-group ">
                    <a href="tel:@item.MobileNo" class="btn btn-block col-6 btn-primary"><i class="glyphicon glyphicon-phone-alt"></i> Call</a>
                    @Html.ActionLink("Select", "Show_Sessions", new { id = item.ID }, new { @class = "btn col-6 btn-primary" })
                </div>
            
            

        </div>
    }
    
}




